
html {
	height: 100% !important;
}

.ad-main {
 	min-height: 100vh;
 }

.ad-footer {
	clear: both;
	position: relative;
	width: 100%;
	height: 30px;
	padding: 2px 0px; 
}

.db-notif__container {
	position: fixed;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 30000;
}

.db-notif__wrapper {
	position: relative;
	width: 50%;
	padding: 5px 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.6);
	background-color: white;
	border: 1px solid #444;
	border-radius: 7px;
}

.db-notif__text {
	border-top: 1.5px dashed #444;
	padding: 5px 10px;
}

.db-notif__icon { 
	width: 60px;
	height: 60px;
	margin: 15px auto;
}

.db-notif__icon, .db-notif__icon img {
	width: 60px;
	height: 60px;
}

.db-notif__button {
	position: absolute;
	top: 8px;
	right: 10px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	z-index: 10;
}

.db-notif__button-left {
	position: absolute;
	top: 8px;
	right: 35px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	z-index: 10;
}

.db-notif__button > img, .db-notif__button-left > img {
	position: relative;
	display: block;
	top: 0;
	width: 20px;
	height: 20px;
	opacity: 0.7;
}

.db-notif__button > img:hover, .db-notif__button-left > img:hover {
	opacity: 1;
	cursor: pointer;
}

@media screen and (orientation: portrait) {
	.db-notif__container {
		top: 35%;
	}
}

@media screen and (max-width: 735px) {
	.db-notif__wrapper {
		width: 65%;
		font-size: 15px;
	}

	.db-notif__icon { 
		width: 40px;
		height: 40px;
		margin: 13px auto;
	}

	.db-notif__icon, .db-notif__icon img {
		width: 40px;
		height: 40px;
	}

	.db-notif__text {
		border-top: 1px dashed #444;
		padding: 0px 10px;
	}

	.db-notif__button {
		width: 15px;
		height: 15px;
	}

	.db-notif__button > img {
		width: 15px;
		height: 15px;
	}
}

@media screen and (min-width: 1024px) {
	.db-notif__wrapper {
		width: 40%;
	}

	.db-notif__icon { 
		margin: 40px auto;
	}
}


/*
========== ADMIN HOME.PHP STYLE ==========
*/

.ad-add__form-cat-wrapper {
	position: relative;
}

.ad-form__position {
	position: relative;
	float: left;
	width: 100%;
	margin: auto auto 50px auto;
	padding: 10px;
	border: 1px solid grey;
	border-radius: 10px;
}

.ad-form__title {
	color: #0cf;
	font-size: 2.7rem;
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 10px;
	border-bottom: 1px dotted grey;
}

.ad-form__button {
	position: relative;
	display: inline-block;
	width: 85px;
	height: 40px;
	color: #ddd;
	font-weight: bold;
	background-color: #444;
	padding: 5px 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 20px;
	border: 1.4px solid #101010;
	border-radius: 10px;
	-webkit-transition: all 180ms ease-in-out;
	transition: all 180ms ease-in-out;
}

.ad-form__button:hover, .ad-form__button:active, .ad-form__button:focus {
	color: #0cf !important;
	background-color: #101010 !important;
}

.ad-form__button-cat {
	z-index: 1000;
	position: relative;
}

.ad-grid__wrapper {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.ad-grid__subheading {
	color: black;
	font-weight: bold;
}

.ad-add__cat-wrapper {
	overflow: hidden;
	margin: 10px 0 20px 0;
}

.ad-add__categories {
	width: 100%;
	height: 265px;
	position: relative;
	border: 4px dashed #ddd;
	border-radius: 10px;
	padding: 0px;
	background-color: inherit;
	-webkit-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}

.ad-add__categories:hover {
	background: rgba(140, 140, 140, 0.3);
}

.ad-add__categories img {
	width: auto;
	height: 65px;
	opacity: 0.1;
	-webkit-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}

.ad-add__categories:hover img {
	opacity: 1;
	height: 85px;
}

.ad-add__c-title-wrapper {
	position: absolute;
	display: table;
	z-index: 10;
	width: 100%;
	height: 100%;
	top: 0;
}

.ad-add__c-title {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: 900;
	-webkit-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}

.ad-add__c-title:hover {
	opacity: 0;
}

.ad-categories__wrapper {
	border-bottom: 1px solid #000;
	color: #999;
	display: block;
	overflow: hidden;
	position: relative;
	padding: 15% 1.25rem;
	position: relative;
	text-align: center;
}

.ad-categories__info-wrapper {
	z-index: 1000;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: right;
	display: table;
}

.ad-categories__title {
	color: #fff;
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: -.3125rem;
	line-height: 1;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

.ad-categories__button {
	z-index: 1000;
	display: inline-block;
	position: relative;
	margin-top: 10px;
	padding: 3px 15px;
	border-radius: 5px;
	border: 1.4px solid #0cf;
	background: #101010;
	color: #0cf;
	font-weight: bold;
	-webkit-transition: 300ms ease-in-out;
	transition: 300ms ease-in-out;
}

.ad-categories__button:hover, .ad-categories__button:active, .ad-categories__button:focus {
	color: #fff;
	border: 1.4px solid #fff;
}

.ad-categories__picture {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.ad-categories__item-image {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	object-fit: cover;
}


/*
========== ADMIN PAGE.PHP STYLE ==========
*/

.ad-post__item-button {
	float: left;
	position: relative;
	overflow: hidden;
	width: 33.333%;
	padding-top: 18.74%;
}

.ad-post__button-link {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	padding: 10px 20px;
}

.ad-post__button-info {
	display: table;
	width: 100%;
	height: 100%;
	border: 4px dashed #ddd;
	border-radius: 10px;
	text-align: center;
	-webkit-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}

.ad-post__button-title {
	opacity: 0;
	position: relative;
	display: table-cell;
	font-size: 2rem;
	font-weight: bold;
	vertical-align: middle;
	text-transform: uppercase;
	-webkit-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}

.ad-post__button-link img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 65px;
	height: 65px;
	margin: auto;
	opacity: 1;
	-webkit-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}

.ad-post__button-link:hover img {
	opacity: 0;
	width: 10px;
	height: 10px;
}

.ad-post__button-info:hover {
	background: rgba(140, 140, 140, 0.3);
}

.ad-post__button-info:hover .ad-post__button-title {
	opacity: 1;
}


/*
========== ADMIN POST.PHP STYLE ==========
*/

.ad-post__constraint {
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
	padding-top: 15rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}


.ad-post__header-img {
	position: relative;
	width: 100%;
}

.ad-post__header-img img {
	position: relative;
	width: 100%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.ad-post__form > input {
	color: black;
	font-weight: bold;
}

.ad-post__form > .capZ {
	text-transform: capitalize;
}

.ad-post__form > dt {
	margin-top: 10px !important;
}

/*
=====================================================
========== MEDIA SCREEN WITH MIN MAX PARAM ==========
=====================================================
*/

@media screen and (min-width: 360px) and (max-width:639px) {
	.ad-add__categories {
		height: 150px;
	}

	.ad-add__cat-wrapper {
		margin: 10px 0 30px 0;
	}
}

@media screen and (min-width: 640px) and (max-width: 767px) {
	.ad-add__categories {
		height: 200px;
	}

	.ad-add__cat-wrapper {
		margin: 10px 0 30px 0;
	}
}

@media screen and (min-width: 568px) and (max-width: 1023px) {
	.ad-post__item-button {
		width: 50%;
		padding-top: 28.125%;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1359px) {
	.ad-grid__heading {
		margin-bottom: 0;
		font-size: 6rem;
		text-transform: capitalize;
		letter-spacing: -.125rem;
	}
}


/*
=====================================================
============ MEDIA SCREEN WITH MAX WIDTH ============
=====================================================
*/

@media screen and (max-width: 567px) {
	.ad-post__item-button {
		width: 100%;
		padding-top: 56.25%;
	}
}

@media screen and (max-width: 767px) {
	.ad-form__wrapper {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.button-clear {
		margin-right: 0;
	}
}

@media print, screen and (max-width: 1023px) {
	.ad-categories__info-wrapper {
		text-align: center;
	}

	.ad-categories__detail {
		font-size: 0;
		line-height: 0;
		margin-bottom: 3px;
	}

	.ad-categories__button {
		margin-top: 20px;
	}
}


/*
=====================================================
=========== MEDIA SCREEN FROM LOW TO HIGH ===========
=====================================================
*/

@media screen and (max-width: 320px) {
	.ad-add__categories {
		height: 130px;
	}

	.ad-add__cat-wrapper {
		margin: 10px 0 30px 0;
	}
}

@media screen and (min-width: 375px) and (min-height: 720px) {
	.ad-post__constraint {
		padding-left: 2.0rem;
		padding-right: 2.0rem;
	}
}

@media screen and (min-width: 480px) {
	.ad-post__constraint {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@media screen and (min-width: 768px) {
	.ad-grid__heading {
		font-size: 3.5rem;
		width: 35%;
	}

	.ad-grid__subheading {
		width: 64%;
	}

	.ad-form__button {
		float: right;
		margin-right: 50px;
	}

	.ad-add__c-title {
		font-size: 2.5rem;
	}

	.ad-categories__info {
		width: 50% !important;
	}

	.ad-post__constraint {
		padding-top: 20rem;
		padding-left: 6rem;
		padding-right: 6rem;
	}
}

@media screen and (min-width: 1024px) {
	.ad-grid__heading {
		font-size: 2.5rem;
		width: 30%;
	}

	.ad-grid__subheading {
		width: 65%;
	}

	.ad-categories__wrapper {
		padding: 5rem 3.75rem;
		text-align: right;
		min-height: 321px;
	}

	.ad-categories__title {
		font-size: 6rem;
		margin-bottom: 0;
		text-transform: capitalize;
		letter-spacing: -.125rem;
	}

	.ad-post__button-title{
		font-size: 3.5rem;
		font-weight: bold;
	}

	.ad-post__constraint {
		padding-top: 30rem;
	}
}

@media screen and (min-width: 1280px) {
	.ad-categories__wrapper {
		padding: 5rem 5.625rem;
	}

	.ad-categories__info {
		width: 41.666% !important;
	}
}

@media screen and (min-width: 1366px) {
	.ad-grid__heading {
		font-size: 2.7rem;
		width: 20%;
	}

	.ad-grid__subheading {
		width: 79%;
	}

	.ad-form__title {
		font-size: 3rem;
	}
}

@media screen and (min-width: 1920px) {
	.ad-post__constraint {
		padding-left: 0;
		padding-right: 0;
	}
}
