/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
}

body {
	display: block;
	margin: 0;
	color: white;
	font-family: "159-UL","Orgon Thin",Arial,sans-serif;
	font-size: 1.8rem;
	line-height: 1.6;
}

a, a:link, a:visited {
	color: white;
	text-decoration: none;
	-webkit-transition: all 180ms ease-in-out;
	transition: all 180ms ease-in-out;
}

a:hover, a:active {
	color: #0cf;
	text-decoration: none;
}

#bg {
	position: fixed; 
	top: -50%;
	left: -50%;
	width: 200%; 
	height: 200%;
	z-index: -1;
}

#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}

main, section {
	display: block;
}

.main {
}

.main-flush {
	background-color: #27292b;
	padding-top: 0;
}

@font-face {
	font-family: '159';
	src: local('Route159'),
		local('Route159-Light'),
		url('../font/Route159-Light.eot') format('eot'),
		url('../font/Route159-Light.woff') format('woff'),
		url('../font/Route159-Light.otf') format('opentype');
}

@font-face {
	font-family: '159-UL';
	src: local('Route159'),
		local('Route159-UltraLight'),
		url('../font/Route159-UltraLight.eot') format('eot'),
		url('../font/Route159-UltraLight.woff') format('woff'),
		url('../font/Route159-UltraLight.otf') format('opentype');
}

/*
=====================================================
================== HOME.PHP STYLE ===================
=====================================================
*/

/* HOME STYLES
-------------------------------------------------- */

.home-constraint {
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
}

@media screen and (min-width: 768px) {
	.home-constraint section {
		margin-bottom: 8rem;
	}
}

@media screen and (min-width: 768px) {
	.home-constraint {
		padding-left: 6rem;
		padding-right: 6rem;
	}
}

@media screen and (min-width: 812px) {
	.home-constraint {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media screen and (min-width: 1024px) {
	.home-constraint {
		padding-left: 6rem;
		padding-right: 6rem;
	}
}

@media screen and (min-width: 1920px) {
	.home-constraint {
		padding-left: 0;
		padding-right: 0;
	}
}

.home-header {
	padding: 6.25rem 0;
	position: relative;
	text-align: center;
}

.home-header h1 {
	margin: 0;
}

@media screen and (max-width: 767px) {
	.home-header{
		padding-top: 12rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.h-header__subheading {
		padding-top: 1.5rem;
	}
}

@media screen and (min-width: 768px) {
	.home-header{
		padding-bottom: 4.5rem;
		padding-top: 15rem;
		text-align: left;
	}
}

.h-header-wrapper {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.h-header__heading {
	color: #fff;
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: -.3125rem;
	line-height: 1;
	text-transform: capitalize;
	-webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 1024px) and (max-width: 1359px) {
	.h-header__heading {
		margin-bottom: 0;
		font-size: 6rem;
		text-transform: capitalize;
		letter-spacing: -.125rem;
	}
}

@media screen and (min-width: 640px) {
	.h-header__subheading {
		width: 75%;
	}
}

@media screen and (min-width: 768px) {
	.h-header__heading {
		font-size: 5rem;
		width: 35%;
	}

	.h-header__subheading {
		width: 64%;
	}
}

@media screen and (min-width: 1024px) {
	.h-header__heading {
		width: 30%;
	}

	.h-header__subheading {
		width: 65%;
	}
}

@media screen and (min-width: 1366px) {
	.h-header__heading {
		width: 20%;
	}

	.h-header__subheading {
		width: 50%;
	}
}

.h-content-wrapper {
	padding-left: 0;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	letter-spacing: normal;
	word-spacing: normal;
}

.h-content {
	width: 100%;
}

.h-categories__item {
	overflow: hidden;
	position: relative;
}

.h-categories__item a:hover {
	color: #fff;
}

.h-categories__item-link {
	border-bottom: 1px solid #000;
	color: #999;
	display: block;
	overflow: hidden;
	position: relative;
	padding: 56.25% 1.25rem 0;
	position: relative;
	text-align: center;
}

@media screen and (min-width: 1024px) {
	.h-categories__item-link {
		padding: 5rem 3.75rem;
		text-align: right;
		min-height: 321px;
	}
}

@media screen and (min-width: 1280px) {
	.h-categories__item-link {
		padding: 5rem 5.625rem;
	}
}

.h-categories__item-link:after {
	z-index: 1000;
	background: #0cf;
	content: '';
	display: block;
	height: .225rem;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
}

.h-categories__item-link:before {
	z-index: 1000;
	background: #000;
	content: '';
	display: block;
	height: 40px;
	position: absolute;
	bottom: -20px;
	right: -20px;
	transform: rotate(45deg);
	width: 40px;
}

.h-categories__item-link:hover:after, .h-categories__item-link:focus:after, .h-categories__item-link:active:after {
	width: 100%;
}

.h-categories__item-link:hover:before, .h-categories__item-link:focus:before, .h-categories__item-link:active:before {
	background: #0cf;
}

.h-categories__item-link:hover img, .h-categories__item-link:focus img, .h-categories__item-link:active img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.h-categories__wrapper {
	z-index: 1000;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	word-wrap: break-word;
}

@media screen and (min-width: 1024px) {
	.h-categories__wrapper {
		left: auto;
		position: relative;
		top: auto;
		transform: none;
	}
}

@media screen and (min-width: 768px) {
	.h-categories__item-info {
		width: 50%;
	}
}

@media screen and (min-width: 1280px) {
	.h-categories__item-info {
		width: 41.666%;
	}
}

.h-categories__picture {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.h-categories__item-image {
	z-index: 1;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transition: all 1s ease-in-out, transform 500ms ease-in-out, filter 500ms ease-in-out;
	transition: all 1s ease-in-out, transform 500ms ease-in-out, filter 500ms ease-in-out;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.h-categories__item-heading {
	color: #fff;
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: -.3125rem;
	line-height: 1;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 1024px) {
	.h-categories__item-heading {
		font-size: 6rem;
		margin-bottom: 0;
		text-transform: capitalize;
		letter-spacing: -.125rem;
	}
}

@media print, screen and (max-width: 1023px) {
	.h-categories__item-detail {
		font-size: 0;
		line-height: 0;
		margin-bottom: 3px;
	}
}

.h-categories__item-link-text {
	color: #0cf;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
}

@media screen and (min-width: 1024px) {
	.h-categories__item-link-text {
		font-size: 1.2rem;
	}
}


/*
=====================================================
================== POST.PHP STYLE ===================
=====================================================
*/

/* POST THUMBNAIL STYLES
-------------------------------------------------- */

.post-thumbnail {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid #000;
	overflow: hidden;
}

.post-thumbnail:after {
	z-index: 1000;
	background: #0cf;
	content: '';
	display: block;
	height: .2rem;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	-webkit-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}

.post-thumbnail:before {
	z-index: 1000;
	background: #000;
	content: '';
	display: block;
	height: 35px;
	width: 35px;
	bottom: -20px;
	right: -20px;
	position: absolute;
	transform: rotate(45deg);
	padding: 5px;
}

.post-thumbnail:hover:after, .post-thumbnail:focus:after, .post-thumbnail:active:after {
	width:100%;
}

.post-thumbnail:hover:before, .post-thumbnail:focus:before, .post-thumbnail:active:before {
	background:#0cf;
}

@media print, screen and (max-width: 1023px) {
	.post-thumbnail {
		padding: 5px;
	}

	.post-thumbnail:before {
		height: 0px;
		width: 0px;
	}

	.post-thumbnail:after {
		bottom: 5px;
		right: 5px;
	}

	.post-thumbnail:hover:after {
		width: calc(100% - 10px);
	}
}

@media print, screen and (min-width: 1024px) {
	.post-thumbnail {
		padding-top: .05rem;
	}
}

.post-thumbnail img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.post-thumbnail:hover img, .post-thumbnail:active img, .post-thumbnail:focus img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* POST HEADER STYLES
-------------------------------------------------- */

.post-header {
    height: auto;
}

.post-header .post-header-picture {
	height: auto;
	background-color: black;
}

.post-header > .post-header-picture > img {
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	object-fit: cover;
}

@media screen and (min-width: 1024px) {
	.post-header > .post-header-picture > img {
		height: 780px;
	}
}

@media screen and (min-width: 1680px) {
	.more-post-wrapper > .container, .footer-wrapper > .container {
		width: 1440px;
	}
}

/* POST CONTENT
-------------------------------------------------- */

.post-wrapper {
	padding-top: 1.875rem;
}

@media screen and (min-width: 1024px) {
	.post-wrapper {
		padding-top: 2.5rem;
	}
}

.post-constraint {
	margin-left: auto;
	margin-right: auto;
	max-width: 1440px;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

@media screen and (min-width: 375px) and (min-height: 720px) {
	.post-constraint {
		padding-left: 2.0rem;
		padding-right: 2.0rem;
	}
}

@media screen and (min-width: 480px) {
	.post-constraint {
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@media screen and (min-width: 768px) {
	.post-constraint {
		padding-left: 6rem;
		padding-right: 6rem;
	}
}

@media screen and (min-width: 1920px) {
	.post-constraint {
		padding-left: 0;
		padding-right: 0;
	}
}

.post-content-wrapper {
	margin-bottom: 8rem;
	margin-top:-8.25rem;
	position: relative;
}

@media print, screen and (max-width: 1279px) {
	.post-content-wrapper {
		background: none !important;
		box-shadow: none !important;
	}
}

@media screen and (min-width: 768px) {
	.post-content-wrapper {
		margin-top: -8.75rem
	}
}

@media screen and (min-width: 1024px) {
	.post-content-wrapper {
		margin-top: -18rem
	}
}

.post-content {
	padding: 0.8rem;
	background-color: #272625;
    box-shadow: 0 0 50px black;
}

.post-content-width {
	display: inline-block;
	width: 100%;
	padding-left: 0;
	vertical-align: top;
}

@media screen and (min-width: 1280px) {
	.post-content-picture {
		width: 66%;
	}
}

@media screen and (min-width: 1280px) {
	.post-content-desc {
		width: 33%;
	}
}

.post-content-article {
	padding: 0.5rem 1rem 0.5rem 1rem;
}

@media screen and (min-width: 568px) {
	.post-content-article {
		padding: 1rem 2rem 1rem 2rem;
	}
}

@media screen and (min-width: 1280px) {
	.post-content-article {
		padding: 2rem 3rem 2rem 4rem;
	}
}

.post-content-article-header, .post-content-article-info, .post-content-article-detail {
	padding: 25px 0 25px 0;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.post-content-article-header > h2, .post-content-article-detail > h3 {
	font-weight: bold;
	margin: 0;
	text-transform: capitalize;
}

.post-content-article-info > dt, .post-content-article-detail > h3, .post-content-article-share > h3 {
	color: #00ffff;
	font-size: 17px;
	font-weight: bold;
}

.post-content-article-info > dd {
	padding-bottom: 10px;
	font-size: 22px;
	text-transform: capitalize;
	font-weight: bold;
}

.post-content-article-detail > p {
	font-size: 16px;
	padding-top: 10px;
}

@media screen and (min-width: 1280px) {
	.post-content-article-header {
		padding: 5px 0 25px 0;
	}

	.post-content-article-header > h2 {
		margin: 0;
		font-size: 5rem;
	}
}

.post-image {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.post-image img {
	width: 100%;
	height: auto;
}

/* MORE POST
-------------------------------------------------- */

.more-post-wrapper { 
	width: 100%;
	background-color: #000204;
	padding: 8rem 0 8rem 0;
}

.more-post-content {
	width: 100%;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}

.more-post-content > a > img {
	width: 100%;
	height: auto;
	object-fit: fill;
}

.more-post-header {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5rem;
	max-width: 1440px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.more-post-header > h1, p {
	margin: 0;
}

@media screen and (min-width: 768px) {
	.more-post-header {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}

@media screen and (min-width: 800px) {
	.more-post-header {
		padding-left: 3.5rem;
		padding-right: 3.5rem;
	}
}

@media screen and (min-width: 864px) {
	.more-post-header {
		padding-left: 6rem;
		padding-right: 6rem;
	}
}

@media screen and (min-width: 1366px) {
	.more-post-header {
		padding-left: 8.8rem;
		padding-right: 8.8rem;
	}
}

@media screen and (min-width: 1600px) {
	.more-post-header {
		padding-left: 13.5rem;
		padding-right: 13.5rem;
	}
}

@media screen and (min-width: 1920px) {
	.more-post-header {
		padding-left: 0;
		padding-right: 0;
	}
}

.heading-width {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
}

.more-post-header-heading {
	font-weight: bold;
}

@media screen and (min-width: 768px) {
	.more-post-header-heading {
		font-size: 5.0rem;
	}
}

@media screen and (min-width: 1024px) {
	.more-post-header-heading {
		width: 50%;
		font-size: 6.0rem;
	}

	.more-post-header-subheading {
		width: 49%;
	}
}

@media screen and (min-width: 1360px) {
	.more-post-header-heading {
		width: 40%;
		font-size: 5.0rem;
	}

	.more-post-header-subheading {
		width: 45%;
	}
}

.more-post-info {
	position: absolute;
	width: 100%;
	text-align: right;
	bottom: 1.5rem;
	padding-right: 3rem;
	padding-left: 3rem;
	z-index: 20;
}

.more-post-title {
	color: white;
	font-weight: bolder;
	font-size: 25px;
	margin: 0;
}

.more-post-tags {
	color: white;
	font-size: 15px;
	text-transform: uppercase;
}

/* SHARE BUTTON
-------------------------------------------------- */

.post-content-article-share {
	margin-bottom: 4rem;
}

.share-buttons {
}

.share-buttons > a {
	position: relative;
	max-width: 45px;
}

.share-icon {
	width: 45px;
	border: none;
	box-shadow: 0;
	display: inline;
}

.share-icon:hover {
	margin-top: -10px;
	border: none;
}


/*
=====================================================
================ FOOTER.PHP STYLE ===================
=====================================================
*/

footer {
	background-color: black;
}

.footer-wrapper {
	padding-top: 2rem;
	font-size: 16px;
}

.footer-wrapper .container {
	padding-bottom: 3rem;
}

.footer-nav, .footer-cat {
	float: left;
	position: relative;
	margin-left: 2rem;
}

.footer-nav {
	width: 20%;
}

.footer-cat {
	width: 20%;
}

@media screen and (min-width: 1024px) {
	.footer-nav {
		width: 10%;
	}

	.footer-cat {
		width: 20%;
	}
}

.footer-nav > dd, .footer-cat > dd {
	padding: 3px 0 3px 0;
	text-transform: capitalize;
}

.footer-nav > hr, .footer-cat > hr {
	width: 25px;
	margin: 0 0 1.5rem -1rem;
	border: 1px solid rgba(255,255,255,0.2);
}

.footer-nav > dd > a:hover, .footer-cat > dd > a:hover {
	border-bottom: 1px solid #0cf;
}

.footer-copyright {
	padding: 2.5rem 0 2.5rem 0;
	background-color: black;
	font-size: 13px;
	text-align: center;
	border-top: 1px solid rgba(255,255,255,0.2);
}

@media screen and (min-width: 320px) {
	.footer-copyright {
		padding: 2.5rem 5.5rem 2.5rem 5.5rem;
	}
}

@media screen and (min-width: 360px) {
	.footer-copyright {
		padding: 2.5rem 7rem 2.5rem 7rem;
	}
}

@media screen and (min-width: 375px) {
	.footer-copyright {
		padding: 2.5rem 8rem 2.5rem 8rem;
	}
}

@media screen and (min-width: 411px) and (max-width: 567px) {
	.footer-copyright {
		padding: 2.5rem 9rem 2.5rem 9rem;
	}
}


/*
=====================================================
================ ITEM GRID SYSTEM ===================
=====================================================
*/

.port-item__grid-1 {
	position: relative;
	width: 100%;
	float: left;
}

.port-item__grid-2 {
	position: relative;
	width: 50%;
	float: left;
}

.port-item__grid-3 {
	position: relative;
	width: 33.333%;
	float: left;
}

@media screen and (max-width: 1023px) {
	.port-item__grid-1 {
		position: relative;
		width: 100%;
		float: left;
	}

	.port-item__grid-2 {
		position: relative;
		width: 0%;
		float: left;
	}

	.port-item__grid-3 {
		position: relative;
		width: 50%;
		float: left;
	}
}

.port-item__thumbnail {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid #000;
	overflow: hidden;
}

.port-item__thumbnail:after {
	z-index: 1000;
	background: #0cf;
	content: '';
	display: block;
	height: .2rem;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	-webkit-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}

.port-item__thumbnail:before {
	z-index: 1000;
	background: #000;
	content: '';
	display: block;
	height: 35px;
	width: 35px;
	bottom: -20px;
	right: -20px;
	position: absolute;
	transform: rotate(45deg);
	padding: 5px;
}

.port-item__thumbnail:hover:after, .port-item__thumbnail:focus:after, .port-item__thumbnail:active:after {
	width:100%;
}

.port-item__thumbnail:hover:before, .port-item__thumbnail:focus:before, .port-item__thumbnail:active:before {
	background:#0cf;
}

@media print, screen and (max-width: 1023px) {
	.port-item__thumbnail {
		border: 1px solid #000;
	}

	.port-item__thumbnail:before {
		background:linear-gradient(to bottom, transparent 0%, transparent 60%, #000 100%);
		content:'';
		display:
		block;
		height:100%;
		width:100%;
		position:absolute;
		transform: none;
		top:0;
		left:0;
		z-index: 1;
	}

	.port-item__thumbnail:hover:before, .port-item__thumbnail:focus:before, .port-item__thumbnail:active:before {
		display: none;
	}

	.port-item__thumbnail:after {
		right: 1px;
	}

	.port-item__thumbnail:hover:after {
		width: calc(100% - 2px);
	}
}

.port-item__thumbnail img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
}

.port-item__thumbnail:hover img, .port-item__thumbnail:active img, .port-item__thumbnail:focus img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.port-item__info {
	position: absolute;
	width: 100%;
	text-align: right;
	bottom: 1.5rem;
	padding-right: 3rem;
	padding-left: 3rem;
	z-index: 20;
}

.port-item__title {
	color: white;
	font-weight: bolder;
	font-size: 25px;
	margin: 0;
}

.port-item__tags {
	color: white;
	font-size: 15px;
	text-transform: uppercase;
}

@media print, screen and (max-width: 567px) {
	.port-item__info {
		bottom: 0.5rem;
		padding-right: 1rem;
		padding-left: 1rem;
	}

	.port-item__title {
		color: white;
		font-weight: bolder;
		font-size: 15px;
		margin: 0;
	}

	.port-item__tags {
		color: white;
		font-size: 10px;
		text-transform: uppercase;
	}
}

@media print, screen and (min-width: 568px) and (max-width: 1023px) {
	.port-item__info {
		bottom: 1rem;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	.port-item__title {
		color: white;
		font-weight: bolder;
		font-size: 25px;
		margin: 0;
	}

	.port-item__tags {
		color: white;
		font-size: 15px;
		text-transform: uppercase;
	}
}


/*
=====================================================
================ PAGE.PHP STYLE ===================
=====================================================
*/

.page__heading {
	color: #fff;
	font-size: 4rem;
	font-weight: 600;
	margin-bottom: -.3125rem;
	line-height: 1;
	text-transform: capitalize;
	-webkit-font-smoothing: antialiased;
}


@media screen and (max-width: 767px) {
	.page-bg-color {
		background-color: #000;
	}
	.page__subheading {
		padding-top: 1.5rem;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1359px) {
	.page__heading {
		margin-bottom: 0;
		font-size: 6rem;
		text-transform: capitalize;
		letter-spacing: -.125rem;
	}
}

@media screen and (min-width: 640px) {
	.page__subheading {
		width: 75%;
	}
}

@media screen and (min-width: 768px) {
	.page__heading {
		font-size: 5rem;
		width: 45%;
	}

	.page__subheading {
		width: 54%;
	}
}

@media screen and (min-width: 1024px) {
	.page__heading {
		width: 35%;
	}

	.page__subheading {
		width: 60%;
	}
}

@media screen and (min-width: 1366px) {
	.page__heading {
		width: 35%;
	}

	.page__subheading {
		width: 50%;
	}
}

.page-item__grid-1 {
	position: relative;
	width: 100%;
	float: left;
	overflow: hidden;
}

.page-item__grid-2 {
	position: relative;
	width: 50%;
	float: left;
	overflow: hidden;
}

.page-item__grid-3 {
	position: relative;
	width: 33.333%;
	float: left;
	overflow: hidden;
}

@media screen and (max-width: 567px) {
	.page-item__grid-2 {
		width: 100%;
	}

	.page-item__grid-3 {
		width: 100%;
	}
}

@media screen and (min-width: 568px) and (max-width: 1023px) {
	.page-item__grid-2 {
		width: 50%;
	}

	.page-item__grid-3 {
		width: 50%;
	}
}

.page-item__info {
	position: absolute;
	width: 100%;
	text-align: right;
	bottom: 1.5rem;
	padding-right: 3rem;
	padding-left: 3rem;
	z-index: 20;
}

.page-item__link{
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid #000;
	overflow: hidden;
}

.page-item__link:after {
	z-index: 1000;
	background: #0cf;
	content: '';
	display: block;
	height: .2rem;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	-webkit-transition: 500ms ease-in-out;
	transition: 500ms ease-in-out;
}

.page-item__link:hover:after, .page-item__link:focus:after, .page-item__link:active:after {
	width: 100%;
}

.page-item__link img {
	width: 100%;
	object-fit: cover;
	-webkit-transition: all 1s ease-in-out, transform 500ms ease-in-out, filter 500ms ease-in-out;
	transition: all 1s ease-in-out, transform 500ms ease-in-out, filter 500ms ease-in-out;
}

.page-item__link:hover img, .page-item__link:focus img, .page-item__link:active img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

@media screen and (max-width: 1023px) {
	.page-item__link:before {
		background: linear-gradient(to bottom, transparent 0%, transparent 40%, #000 100%);
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;

	}

	.page-item__link:hover:before, .page-item__link:focus:before, .page-item__link:active:before {
		z-index: 1000;
		background: #0cf;
		content: '';
		display: block;
		height: 40px;
		width: 40px;
		position: absolute;
		top: auto;
		left: auto;
		bottom: -20px;
		right: -20px;
		transform: rotate(45deg);
	}
}

@media screen and (min-width: 1024px) {
	.page-item__link img {
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}

	.page-item__link:after {
		-webkit-transition: none;
		transition: none;
	}

	.page-item__link:before {
		z-index: 1000;
		background: #000;
		content: '';
		display: block;
		height: 40px;
		position: absolute;
		bottom: -20px;
		right: -20px;
		transform: rotate(45deg);
		width: 40px;
	}

	.page-item__link:hover:before, .page-item__link:focus:before, .page-item__link:active:before {
		background: #0cf;
	}
}

@media screen and (min-width: 568px) {
	.page-item__grid-1 .page-item__link img {
		width: 100%;
		object-fit: cover;
	}
}

.page-item__title {
	font-weight: bold;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
	.page-item__title {
		font-size: 2rem;
	}
}

@media screen and (max-width: 767px) {
	.page-item__title {
		text-align: center;
		font-size: 2rem;
	}
}

@media screen and (min-width: 1024px) {
	.page-item__grid-1 > .page-item__link > .page-item__info > .page-item__title {
		font-size: 4.5rem;
		padding-right: 2rem;
		padding-bottom: 3rem;
	}

	.page-item__title {
		font-size: 2.5rem;
	}
}


/*
=====================================================
============= LOGIN & REGISTER STYLE ================
=====================================================
*/

.login-form_wrapper {
	background-color: #000 !important;
	z-index: 100  !important;
}

.login-form {
	font-weight: bold !important;
	text-transform: none !important;
	color: #0cf !important;
	background-color: #000 !important;
	border: 1px solid #222;
	border-top: none;
}

.login-form_margin {
	margin-bottom: 10px;
}

.login-form__button {
	float: right;
	position: relative;
	display: inline-block;
	height: 38px;
	color: #ddd;
	background-color: #444;
	padding-right: 18px;
	padding-left: 18px; 
	margin-bottom: 10px;
	font-weight: bold;
	border: 1.4px solid #101010;
	border-radius: 8px;
	-webkit-transition: all 180ms ease-in-out;
	transition: all 180ms ease-in-out;
}

.login-form__button:hover, .ad-form__button:active, .ad-form__button:focus {
	color: #0cf !important;
	background-color: #101010 !important;
	border: 1.4px solid #0cf;
}

.login-form__reg-button {
	float: right;
	position: relative;
	display: inline-block;
	height: 38px;
	color: #0cf;
	background-color: #000; 
	padding: 6px 13px 6px 13px;
	margin-bottom: 10px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	border-radius: 8px;
}